.searchResults {
    padding: 2% 1%;
    display: flex;
}

.searchResultsStatistics {
    padding: 1% 0% 0% 1%;
}

.searchResultsStatistics h3 {
    margin-bottom: 1%;
}

.searchResults .pieChartWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3%;
}